@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition

   Filename: yx_layout.css

   This file contains the layout styles used in the website

*/

/* Html and Body styles */

html {background: url(yx_back1.png) center center / cover no-repeat fixed; height: 100%; font-size:10px;font-family: 'Indie Flower', cursive;}

body {blackground-color rgb(181,198,21);

margin-left:auto; margin-right: auto; max-width:1024px; min-width:320px; width:100%;

}


/* Body Header Styles */
body > header {background: rgb(134,176,232); }
body > header > img { height: 200px; width: 100%;}




/* Horizontal Navigation Styles */

nav.horizontal { font-size:40px;}

ul {list-style-type: none; margin-left:auto; margin-right: auto; }

li{display:inline; float: left;}
li a{display: block; text-align: center; text-decoration: none; }

a:link {
    color: 
}


a:visited {
    color: ;
}

a:hover {
    color: 
}

a:active {
    color: }

/* Main Menu Styles */

ul.mainmenu {
   display: block;
}

ul.mainmenu > li {padding:50px;
}

ul.mainmenu > 
   {background-color: rgb(31, 73, 125);
}

/* Submenu Styles */

ul.submenu { display: none;
}

/* Article style */


h1  {color: purple; font-size: 50px; font-family: 'Indie Flower', cursive;}

article h2 { font-family: 'Indie Flower', cursive; }


article p { font-family: 'Indie Flower', cursive; font-size: 25px;}

article dl{ font-family: 'Indie Flower', cursive; font-size:15px;}

article address {font-family: 'Indie Flower', cursive; font-size:20px;}

article img {
	float: right;
	width: 40%;
	margin: 0% 2% 2% 2%;}


/* Footer Styles */

footer {font-family: 'Indie Flower', cursive;
	background-color: orange;
        color: purple;
        text-align: center;
	font-size: 1.5em; padding: 10px 0px;  width: 100%;}

/* Pulldown Menu Styles */




/* New Styles Added Below */

/* ===============================
Mobile Styles: 0px to 480px
===============================
*/
@media only screen and (max-width: 480px) {
}


/* ================================
Tablet Styles: 481px and greater
================================
*/
@media only screen and (min-width: 481px) {
}


/* =================================
Desktop Styles: 769px and greater
=================================
*/
@media only screen and (min-width: 769px) {}

	
