@charset "utf-8";

/*Filename: yx_visual1.css */

/* Figure Box Styles */

figure {border-style: solid; border-width: 15px;border-image: url(yx_border.png)350 repeat;
margin: 20px auto 0px; text-align: center;
width: 40%;  
}

figure img {
display: block;
width: 95%; height:250px;
}

figure figurecaption { 
font-family: 'Indie Flower', cursive;
font-style: italic;
padding: 10px 0;}

/* Box and Text shadow style */

article {box-shadow: rgb(117, 140, 72) -10px -10px 15px;}

article h2 {text-shadow: rgb(181,211,181) 2px 2px 1px, rgba(21,21,21,0.66) 5px 5px 25px;}

/* Footer Styles */
footer{background: linear-gradient(100deg, rgb(117, 140, 72),rgb(21,35,21) 80%);}
