@charset "utf-8";

/* HTML and Body styles */

html {
    background: white;
    font-family: 'Marck Script', cursive;
    height: 100%;
}

body {
   background-color: white;    
   width: 100%;
}


/* Header styles */




/* Navigation list styles */

    header nav ul {
        list-style-type: none;
        width: 100%;
    }

header nav ul li {
   font-size: 1em; 
   
}

    header nav ul li a {
        text-decoration: none;
        color: white;
        display: block;
        width: 100%;
        padding: 5px 20px;
    }

header nav ul li a:hover {
   color: rgb(249, 209, 17);
}

a#navicon {
   display: none;
}

/* Article Styles */

article {
    margin: 30px 3%;
    width: 90%;
}

    article h1 {
        font-family: 'Marck Script', cursive;
        font-size: 2.5em;
        color: rgb(179, 20, 25);
        margin-bottom: 35px;
    }

    article p {
        font-size: 1.2em;
        line-height: 1.5em;
        margin: 15px 0px;
    }



/* Footer styles */

footer {
    font-size: 0.9em;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, rgb(179, 20, 25), black);   
    padding: 20px 40px;
}



/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

   
   a#navicon {
      display: block;
   }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   
   section h1 {
      font-size: 1.5em;
   }
   
   section p {
      font-size: 0.9em;
   }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

   body header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   body header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}
