@charset "utf-8";

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px){
    table, tbody, tr, td, th, caption {
        display: block;
    }
    thead, h1 {display: none;
    }
    caption {
        color: white;
        background-color: rgb(61, 61, 61);
        font-size: 1.5em;
        line-height: 2em;
    }
    td {
        position: relative;
        padding-left: 40%;
        min-height: 40px;
        border: 1px dotted gray;
        color: rgb(11, 12, 145);
    }

}



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
    table {
        background: url(lht_photo1.png) bottom right / 40% no-repeat;
        border: 6px double rgb(179, 20, 25);
        border-collapse: collapse;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        width: 85%;
    }
    th, td {
        border: 1px solid gray;
        font-size: 0.85em;
        font-weight: normal;
        padding: 5px;
        vertical-align: top;
        width: 14.28%;
        word-wrap: break-word;
    }
    td {
        background-color: rgba(218,165,32,0.6);
        color: rgb(11,12,145);
    }
    caption {caption-side:top;
             text-align: center;
             padding-bottom: 10px;
             font-size: 1.2em;
             letter-spacing: 3px;
    }
    thead, th {
        background-color: rgb(179, 20, 25);
        color: white;
    }
    }
